/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 55px;
}
/* COMMON */
h2 {
    padding-bottom: 40px;
    font-size: 40px;
}
p {
    line-height: 25px;
}
/* FONT */
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* TEST */
    background-color: #255ee9;
    height: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;

    /* TEST */
    width: 70%;
    height: 40px;
}

.navbar div {
    padding: 15px 0;

}
/* UL LINK */
.link{
    width: 70%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}
.link li {
    padding: 0 20px;
    padding-top: 5px;
}
.link li a {
    text-decoration: none;
    color: white;
}
/* FINE UL LINK */

.btn {
    padding: 7px 9px;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.logo{
    width: 20%;
    padding: 0;
}

.login{
    width: 20%;
    text-align: right;
}

/* JUMBOTRON */
.jumbo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    /* TEST */
    height: 500px;
}
.content-jumbo {
    /* TEST */
    width: 50%;
    height: 450px;
}
.content-jumbo p {
    color: white;
    padding-top: 30px;
    line-height: 35px;
    text-align: center;
    font-size: 23px;
}

/* JUMBO BTN */
.content-jumbo button {
    font-size: 20px;
    padding: 10px;
}
.black-btn {
    color: white;
    background-color: #23272a;
    margin-left: 15px;
}
.flex-button {
    display: flex;
    justify-content: space-around;
    padding: 15px 190px;
}

/* MAIN */
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.content {
    font-size: 20px;
    width: 20%;
    padding-bottom: 40px;
}
.reverse {
    padding-bottom: 80px;
}

.flex-container-reverse{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #f6f6f6;
    padding: 80px 0;
}

/* MAIN SECTION */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;
}
.main-content{
    text-align: center;
    padding-top: 40px;
    width: 80%;
    height: 90%;
}
.main-content p {
    padding: 0 280px;
}
.main-content img {
    width: 1100px;
}

.main-content h3 {
    font-size: 30px;
    background-image: url(../img/stars.svg);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}

.mac-btn {
    background-color: #7388d9;
    color: white;
    padding: 15px;
    margin-bottom: 100px;

}
/* FOOTER */
.footer-top {
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 3px;
    /* TEST */
    height: 600px;
    margin-bottom: 2px;
}
.pink-footer{
    /* TEST */
    background-color: pink;
    width: calc(80% / 5);
    height: 580px;
    border: 1px dotted black;
}
.blue-footer{
    /* TEST */
    background-color: aquamarine;
    width: calc(40% / 5);
    height: 580px;
    border: 1px dotted black;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* TEST */
    background-color: grey;
    height: 100px;
}
.content-footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /* TEST */
    height: 70%;
    background-color: aqua;
}
.logo-footer{
    /* TEST */
    background-color: pink;
    padding: 5px;
    border: 1px dotted black;
}
.bottone{
    /* TEST */
    background-color: pink;
    padding: 5px;
    border: 1px dotted black;
}