/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 55px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
/* COMMON */
.wave {
    margin: -5px;
}
.white {
    color: white;
}
h2 {
    padding-bottom: 40px;
    font-size: 40px;
}
p {
    line-height: 25px;
}

/* FONT */
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.navbar div {
    padding: 15px 0;

}

/* UL LINK */
.link{
    width: 70%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}
.link li {
    padding: 0 20px;
    padding-top: 5px;
}
.link li a {
    text-decoration: none;
    color: white;
}
/* FINE UL LINK */

.btn {
    padding: 7px 9px;
    background-color: white;
    border: none;
    border-radius: 20px;
}
.logo{
    width: 20%;
    padding: 0;
}
.login{
    width: 20%;
    text-align: right;
}

/* JUMBOTRON */
.jumbo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
}
.content-jumbo {
    width: 50%;
}
.content-jumbo p {
    color: white;
    padding-top: 30px;
    line-height: 35px;
    text-align: center;
    font-size: 23px;
}

/* JUMBO BTN */
.content-jumbo button {
    font-size: 20px;
    padding: 10px;
}
.black-btn {
    color: white;
    background-color: #23272a;
    margin-left: 15px;
}
.flex-button {
    display: flex;
    justify-content: space-around;
    padding: 15px 190px;
}

/* MAIN */
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.content {
    font-size: 20px;
    width: 20%;
}

.flex-container-reverse{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #f6f6f6;
}

/* MAIN SECTION */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;
}
.main-content{
    text-align: center;
    width: 80%;
    height: 90%;
}
.main-content p {
    padding: 0 280px;
}
.main-content img {
    width: 1100px;
}

.main-content h3 {
    font-size: 30px;
    background-image: url(../img/stars.svg);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 30px;
}

.mac-btn {
    background-color: #7388d9;
    color: white;
    padding: 8px 3px;
    padding-right: 15px;
    margin-bottom: 100px;
    font-size: 20px;

}
/* FOOTER */
footer h3 {
    color: #7388d9;
    font-size: 35px;
    padding-bottom: 20px;
}
.ita-flag {
    width: 25px;
    padding-top: 5px;
}
footer span {
    color: white;
}
footer ul {
    padding-top: 40px;
}
footer ul li {
    color: white;
    padding: 10px 0;
}
footer i {
    padding: 0 3px;
    color: white;
}
div i {
    padding: 10px 15px;
    font-size: 20px;
}
.blue-ul {
    color: #7388d9;
    font-weight: 900;
}
footer a {
    color: white;
    text-decoration: none;
}
.footer-top {
    background-color: #23272a;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 3px;
}
.pink-footer{
    padding: 45px 0;
    width: calc(95% / 5);
}
.blue-footer{
    width: calc(55% / 5);
}

/* FOOTER BOTTOM */
footer img {
    width: 100px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    background-color: #23272a;
}
.content-footer-bottom{
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    padding: 5px;
}
.bottone{
    padding: 5px;
}
.bottone .btn {
    background-color: #7388d9;
    color: white;
}
.container-footer {
    width: 70%;
    padding: 5px 0;
}
